@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$font-size-s: clamp(0.4rem, 1vw, 0.85rem);
$font-size-m: clamp(0.6rem, 1.25vw, 1rem);
$font-size-l: clamp(0.8rem, 2vw, 1.5rem);
$font-size-xl: clamp(0.8rem, 3.5vw, 2rem);
$font-size-2xl: clamp(1rem, 4vw, 2.5rem);
$font-size-3xl: clamp(3rem, 4.5vw, 3rem);
$font-size-4xl: clamp(3rem, 5.5vw, 3.5rem);
$font-size-5xl: clamp(3rem, 6.5vw, 4rem);
$font-size-6xl: clamp(3rem, 7.5vw, 4.5rem);
$font-size-7xl: clamp(3rem, 8.5vw, 5rem);

$color-primary: #ffffff;
$color-secondary: #EAF0F6;
$color-accent: #EE2227;
$color-accent-secondary: #fcdc31;
$color-red: #ff5454;
$color-bronze: #a54d2a;
$color-silver: #55777b;
$color-gold: #ceaf00;
$color-text: #212121;
$color-text-secondary: #7b7b7b;

$filter-accent: brightness(0) saturate(100%) invert(25%) sepia(57%) saturate(4781%) hue-rotate(345deg) brightness(92%) contrast(103%);
$filter-accent-secondary: brightness(0) saturate(100%) invert(99%) sepia(45%) saturate(673%) hue-rotate(174deg) brightness(100%) contrast(94%);
$filter-white: brightness(0) saturate(100%) invert(94%) sepia(94%) saturate(2%) hue-rotate(126deg) brightness(109%) contrast(101%);
$filter-text: brightness(0) saturate(100%) invert(10%) sepia(10%) saturate(0%) hue-rotate(163deg) brightness(107%) contrast(95%);
$filter-text-secondary: brightness(0) saturate(100%) invert(53%) sepia(0%) saturate(0%) hue-rotate(98deg) brightness(91%) contrast(84%);
$filter-red: brightness(0) saturate(100%) invert(36%) sepia(65%) saturate(1544%) hue-rotate(330deg) brightness(116%) contrast(103%);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
    color: $color-text;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar
    {
        display: none;
    }
}

a, button, input, textarea {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
}

img
{
    display: block;
    max-width: 100%;
    min-width: none;
    height: auto;
}

.nav-head
{
    width: 100vw;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    height: 250px;
    display: flex;
    padding: 0 110px 0 110px;
    align-items: center;
    justify-content: space-between;
    transition: .1s;
    background-color: #d9d9d9;

    &.small
    {
        height: 80px;

        .wrapper-img
        {
            height: 60%;
        }

        .container-links
        {
            a
            {
                font-size: $font-size-m;
            }

            .active
            {
                font-weight: 600;
            }
        }
    }

    .wrapper-img
    {
        height: 25%;
        aspect-ratio: 16/5;
        border: 1px solid #212121;

        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .container-links
    {
        display: flex;
        gap: 20px;

        a
        {
            font-size: $font-size-l;
        }
    }
}

.nav-foot
{
    width: 100%;
    padding: 20px 0;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../public/img/footer.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 20px;

    .container-links
    {
        display: flex;
        gap: 20px;

        a
        {
            font-size: $font-size-l;
            color: #fff;
        }
    }

    .container-whatsapp
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2
        {
            font-weight: 450;
            font-size: $font-size-m;
            color: #fff;
        }

        h1
        {
            font-size: $font-size-2xl;
            font-weight: 500;
            display: flex;
            align-items: center;
            color: #fff;
            gap: 5px;

            img
            {
                height: 1.2em;
                aspect-ratio: 1/1;
                filter: $filter-white;
            }
        }

        h3
        {
            font-size: $font-size-s;
            font-weight: 500;
            color: #fff;
        }
    }

    .container-title
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1
        {
            font-size: $font-size-2xl;
            font-weight: 600;
            color: #fff;
        }

        h2
        {
            font-size: $font-size-m;
            font-weight:450;
            color: #fff;
        }
    }

    .container-media
    {
        width: 100%;
        display: flex;
        gap: 10px;
        height: 50px;
        justify-content: center;

        .wrapper-img
        {
            height: 100%;
            aspect-ratio: 1/1;

            img
            {
                width: 100%;
                height: 100%;
            }
        }
    }

    .container-copyright
    {
        display: flex;
        position: relative;
        width: 100%;
        height: 20px;
        align-items: center;
        justify-content: center;
        gap: 5px;

        h3
        {
            font-size: $font-size-m;
            font-weight: 400;
            margin: 0;
            color: #fff;
        }

        .span
        {
            width: 1px;
            height: 100%;
            background-color: #fff;
        }
    }
}

body
{
    background-color: #d9d9d9;
    width: 100%;
    min-height: 100dvh;
}

// ====================================[ admin ]=====================================================

.btn
{
    background-color: unset;

    &-primary-homade
    {
        background-color: $color-accent;
        color: #fff;
        cursor: pointer;
        transition: .1s;
    
        &:hover
        {
            filter: brightness(.9);
        }

    }
}

.bg-grey
{
    background-color: #1c1c1c;
}

.text-accent
{
    color: $color-accent;
}

.img-accent
{
    filter: $filter-accent;
}

.img-white
{
    filter: $filter-white;
}

.bg-gradient-bw
{
    background: linear-gradient(0deg,#fff 0%, #000 100%);
}

.text-yellow
{
    color: $color-accent-secondary !important;
}

.text-grey
{
    color: $color-text-secondary;
}

.btn-primary-homade
{
    background-color: $color-accent;
    display: flex;
    gap: 15px;
    align-items: center;
    height: max-content;
    width: max-content;
    padding: 10px 30px;

    img
    {
        height: 1em;
    }
}

.bg-accent
{
    background-color: $color-accent;
}

.ratio-1
{
    aspect-ratio: 1/1;
}

.w-90
{
    width: 90%;
}

.h-90
{
    height: 90%;
}

.translate-50
{
    transform: translateY(-50px);
}

.bg
{
    
    &-1 
    {
        background: url(../public/img/bg-1.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    &-2 
    {
        background: url(../public/img/bg-2.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    &-chicken 
    {
        background-image: url(../public/img/chicken.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #9a9a9a80;
        background-blend-mode: darken;
    }

    &-fish 
    {
        background-image: url(../public/img/fish.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #9a9a9a80;
        background-blend-mode: darken;
    }

    &-rice 
    {
        background-image: url(../public/img/rice.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #9a9a9a80;
        background-blend-mode: darken;
    }

    &-beef 
    {
        background-image: url(../public/img/beef.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #9a9a9a80;
        background-blend-mode: darken;
    }

}

.w-125 {width: 125%;}
.w-150 {width: 150%;}
.w-175 {width: 175%;}
.w-200 {width: 200%;}

.h-125 {height: 125%;}
.h-150 {height: 150%;}
.h-175 {height: 175%;}
.h-200 {height: 200%;}

.fsc-1 { font-size: $font-size-s;}
.fsc-2 { font-size: $font-size-m;}
.fsc-3 { font-size: $font-size-l;}
.fsc-4 { font-size: $font-size-xl;}
.fsc-5 { font-size: $font-size-2xl;}
.fsc-6 { font-size: $font-size-3xl;}
.fsc-7 { font-size: $font-size-4xl;}